a {
	text-decoration:dashed underline;
	color:var(--color-blueberry);
}

a:visited { color:var(--color-navy_blue); }

a:target {
	background-color:#000000;
	font-weight:bold;
	color:var(--color-hot_pink);
}

a:focus, a:hover { text-decoration:solid underline; }





@media only screen and (prefers-color-scheme:dark) {
	a { color:var(--color-lemon_yellow); }
	
	a:visited { color:var(--color-orangepeel); }
}