/* Beautify headers. */
h1, h2, h3, h4, h5, h6 {
	font-weight:bolder;
	line-height:1;
	width:max-content;
}



h1 { font-size:var(--fontsize-xxl); }

h2 { font-size:var(--fontsize-xl); }

h3 { font-size:var(--fontsize-large); }

h4 { font-size:var(--fontsize-moderate); }

h5 { font-size:var(--fontsize-medium); }

h6 { font-size:var(--fontsize-intermediate); }