/* Set the default line height. */
html { line-height:1.2; }





/* Spaces certain textual elements. */
main :is(h1, h2, h3, h4, h5, h6) + :is(section, table, div, dl, h1, h2, h3, h4, h5, h6, ol, ul a, p) { margin-top:1.2rem; }

main :is(dl, ol, ul, a, p) + :is(section, a, p) { margin-top:calc(1em + 1px); }

main :is(section, dl, ol, ul, a, p) + section { margin-top:calc(2em + calc(1em / 3)); }



dl dt, dl dt + a { display:inline; }

dl dt ~ dd { margin-top:2px; }



ol, ul {
	padding-bottom:1px;
	padding-top:1px;
}