.mini-margins {
	margin-bottom:10px;
	margin-bottom:0.75ch;
	margin-top:10px;
	margin-top:0.75ch;
}

.full-width { width:100%; }

.p-indent {
	margin-left:2ch;
	display:inline;
}

.code {
	letter-spacing:1px;
	font-kerning:none;
	font-family:monospace;
}

.flex {
	display:-ms-flexbox;
	display:flexbox;
	display:-webkit-flex;
	display:flex;
}

.grid {
	display:-moz-grid;
	display:-ms-grid;
	display:grid;
}

.col {
	-ms-flex-direction:column;
	flex-direction:column;
	grid-auto-flow:column;
}