/*  Disable selection for undraggable areas.  */
*[draggable="false"],  nav#navpanel {
	-webkit-user-select:none;
	-moz-user-select:-moz-none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	user-drag:none;
}



/*  Make images pixelated.  */
img {
	-ms-interpolation-mode:nearest-neighbor;
	image-rendering:-moz-crisp-edges;
	image-rendering:-o-crisp-edges;
	image-rendering:crisp-edges;
}

/*  Make link underlines dashed by default.  */
a,  button.a-like {
	text-decoration:underline;
		-moz-text-decoration-style:dashed;
		text-decoration-style:dashed;
}

/*  Make link underlines solid when selected.  */
a:active,  a:focus,  a:hover,  button.a-like:active,
button.a-like:focus,  button.a-like:hover {
	-moz-text-decoration-style:solid;
	text-decoration-style:solid;
}



#skip-to-content:not(:focus-within) {
	position:relative;
	z-index:-1;
	height:0;
	margin:0;
}



nav#navpanel a,  nav#navpanel button.a-like { outline:none; }