body, html { overflow-x:clip; overflow-x:hidden; }

body {
	/* Color. */
	background-color:var(--color-cherryblossom_pink);
	color:#000000;
	
	/* Adjustments. */
	padding:0;
	margin:0;
	
	/* Size */
	min-height:100%;
	width:100%;
}

html {
	color-scheme:only light;
	font-family:sans-serif;
	font-size:clamp(14pt, 0.7vh, 1.5em);
	height:100%;
	width:100%;
}





/* Make certain elements undraggable. */
*[draggable="false"], *[draggable="false"] * {
	-webkit-user-select:none;
	-webkit-user-drag:none;
	-moz-user-select:none;
	user-select:none;
}





.inline { display:inline; }