nav {
	background-color:var(--color-notecard_yellow);
	flex-direction:column;
	border-bottom:1px solid #000000;
	min-height:50px;
	display:flex;
	width:100%;
}

nav * {
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
}

nav a {
	text-decoration:none;
	user-select:none;
	color:#000000;
}

nav a:focus, nav a:hover { text-decoration:underline; }

nav > div {
	justify-content:center;
	flex-direction:row;
	align-items:center;
	max-width:100%;
	display:flex;
	width:100%;
}

nav > div > * { margin-right:auto; }

nav img[src="/assets/images/Katty/emblem.png"] {
	max-height:75px;
	min-height:50px;
	max-width:75px;
	min-width:50px;
	height:5vh;
}

nav > #__navigation_urls     { justify-content:left; }

nav > #__navigation_urls > * { margin-right:2em; }