@charset "UTF-8";

@import url(./css/classes.css);
@import url(./css/color.css);
@import url(./css/fx.css);





* {
	-ms-flex-direction:row;
	flex-direction:row;
	grid-auto-flow:row;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	max-height:100%;
	max-width:100%;
	border:0 none transparent;
	height:fit-content;
	width:fit-content;
}



/*  Full-width.  */
footer,  header,  body,  html,  main,  #hotlinks a { width:100%; }

/*  Flexible containers.  */
footer,  header,  main,  nav,  #__katty-container {
	display:-ms-flexbox;
	display:flexbox;
	display:-webkit-flex;
	display:flex;
}

footer {
	min-height:20px;
	grid-area:f;
	padding:4px;
}

footer > .spacer {
	--x-margin:2.5ch;
	--y-margin:auto;
}

header {
	border-bottom:1px solid black;
	grid-area:h;
}

header > h1 { margin:auto; }

body,  html,  nav#navpanel { height:100%; }

body,  html,  #hotlinks {
	padding:0;
	margin:0;
}

body {
	grid-template-columns:max-content 1fr;
	grid-template-areas:
		"h h"
		"n m"
		"n f";
	grid-template-rows:max-content 1fr max-content;
	font-family:Arial, sans-serif;
	display:-moz-grid;
	display:-ms-grid;
	display:grid;
}

main,  nav#navpanel {
	-ms-flex-direction:column;
	flex-direction:column;
	grid-auto-flow:column;
}

main {
	grid-area:m;
	padding:0 2rem;
}

h1,  h2,  h3,  h4,  h5,  h6,  *[role="heading"] {
	font-weight:bold;
	font-weight:900;
}



.spacer {
	--x-margin:auto;
	--y-margin:auto;
	
	visibility:hidden !important;
	height:0 !important;
	margin:auto auto !important;
	margin:var(--y-margin) var(--x-margin) !important;
	width:0 !important;
}



#__katty-container {
	justify-content:center;
	align-items:center;
	max-height:48px;
	min-height:24px;
	max-width:48px;
	min-width:24px;
	height:5vh;
	margin:auto 0;
	margin:clamp(5px, 2vh, 10px) clamp(5px, 2vw, 10px);
	width:5vw;
}

#__katty-container > img {
	aspect-ratio:79/74;
	-o-object-fit:contain;
	object-fit:contain;
	height:auto;
	width:auto;
}

#hotlinks { list-style:none; }

#hotlinks > li {
	margin:0 auto 4px;
	width:100%;
}

#hotlinks a { display:inline-block; }



nav#navpanel {
	overflow-wrap:break-word;
	grid-area:n;
	max-width:10em;
	-ms-word-wrap:break-word;
	word-wrap:break-word;
	padding:2px 4px;
}

nav#navpanel > *:last-child { margin-bottom:auto; }

nav#navpanel a { padding:1.5px; }

nav#navpanel a:active,  nav#navpanel a:focus,  nav#navpanel a:hover {
	background:goldenrod;
	text-align:center;
	color:black;
}





@media (max-width:800px) {
	footer {
		-ms-flex-direction:column;
		flex-direction:column;
	}
	
	footer > .spacer {
		--x-margin:auto;
		--y-margin:1rem;
	}
	
	body {
		grid-template-columns:1fr;
		grid-template-areas:"h" "m" "n" "f";
		grid-template-rows:max-content 2fr 1fr max-content;
	}
	
	#hotlinks a { text-align:center; }
	
	nav#navpanel {
		max-width:unset;
		padding:2px 0;
		width:100%;
	}
	
	nav#navpanel > #hotlinks {
		margin:auto;
		width:max-content;
	}
}