:root {
	--color-cherryblossom_pink:#e0a3b7;
	--color-notecard_yellow:#eeee98;
	--color-cream_white:#eeeee0;
	--color-dark_paper:#cacac0;
	--color-blueberry:#222ac9;
	--color-navy_blue:#070759;
	--color-hot_pink:#e954c1;
}