/* Make all elements fit their content. */
* {
	/* Sizing. */
	box-sizing:border-box;
	max-height:100%;
	max-width:100%;
	height:fit-content;
	width:fit-content;
	
	/* Whitespace. */
	padding:0;
	margin:0;
}





body, html {
	max-height:initial;
	width:100%;
}



/* Give lists padding. */
dd, ol, ul { padding-left:calc(3em + calc(1em / 3)); }